<%%= render 'form', <%= singular_table_name %>: @<%= singular_table_name %> %>

<div class="row justify-content-around">
  <%%= link_to '戻る', <%= index_helper %>_path, class: "btn btn-secondary col-md-2 col-sm-4" %>
  <%%= link_to '削除', <%= [controller_class_path, singular_table_name].flatten.compact.join("_") %>_path(@<%= singular_table_name %>), method: :delete, data: { confirm: '削除します。よろしいですか？' }, class: 'btn btn-danger col-md-2 col-sm-4'  %>
</div>